@page
@model OrderProject.RazorPages.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h2>@ViewData["Title"]</h2>
<p>You do not have access to this resource.</p>
