@page
@model OrderProject.RazorPages.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
    </div>
    <div class="form-group">
        <div class="form-check">
            <input asp-for="Input.RememberMe" class="form-check-input" />
            <label asp-for="Input.RememberMe" class="form-check-label"></label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>